<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
    <p th:text="${user}"></p>

    <form th:if="${user != 'aononymous'}" th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
    <h2>Welocome to index</h2>
    <a th:href="@{/login}">login</a><br>
    <a th:href="@{/registration}">registration</a><br>
    <a th:href="@{/user}">users</a><br>
    <a th:href="@{/admin}">admin</a><br>
</body>
</html>